.heading{
  font-family: monospace;
  text-align: center;
}

.link{
  text-decoration: none;
  font-family: cursive;
  color: silver;
}

.option{
  font-family: monospace;
  font-size:34px;
  text-align: right;
}

.button{
  background-color: orange;
  text-align: center;
  border: none;
  padding : 15px 50px;
  font-family: fantasy;
  font-size: 20px;
  border-radius: 8px;
}
.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.result{
  font-family: cursive;
  text-align: left;
}

body{
  background-color: red;
}
